:root {

    --bg-color: white;
    --text-color: black;
    /* yellow */
    --accent-color: #fcde1c;
    /* purple */
    --accent-color-2: #502977;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

div.header {
    background-color: var(--accent-color-2);
}

button {
    background-color: var(--accent-color-2);
    color: var(--accent-color);
    border-color: var(--accent-color);
}

#login {
    background-color: var(--accent-color-2);
    color: var(--accent-color);
    border-radius: 50px;
    border-color: var(--bg-color);
}

h1.logo {
    margin-bottom: 20px;
}

nav a,
h1.logo {
    color: var(--accent-color);
}

nav a:hover {
    color: var(--bg-color);
}

.subtitle {
    border-bottom: 1.5px solid var(--text-color);
}

div.stats-block {
    background-color: var(--accent-color-2);
    color: var(--bg-color);
}

h4.stat {
    color: var(--accent-color);
}
