img {
    grid-column: 3 / span 2;
    grid-row: 2;
    width: 100%;
    /*    margin-top: 10%;*/
}

#login,
#signup {
    grid-column: 1 / span 2;
    grid-row: 2;

    /* set up inner grid */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 30px;
    background-color: var(--accent-color);
    border-radius: 0;
    padding: 20px;
}

input,
#submit-login,
#submit-signup {
    width: 60%;
    margin: 0 auto;
}

input {
    font-family: var(--body-font);
    padding: 2px;
    width: 85%;
}

#login {
    grid-template-rows: repeat(4, max-content);
    padding-top: 12%;
    margin-right: 20px;
}

#login-username {
    grid-row: 1;
}

#login-password {
    grid-row: 2;
}

#submit-login {
    grid-column: 1 / span 2;
    grid-row: 3;
    margin-top: auto;
}

#signup {
    grid-template-rows: repeat(6, max-content);
    text-align: center;
    margin-right: 20px;
    padding-top: 6%;
}

#signup-username {
    grid-row: 1;
}

signup-email {
    grid-row: 2;
}

#signup-password {
    grid-row: 3;
}

#bubbles {
    grid-row: 4;
    text-align: center;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

#bubbles p {
    margin: 0;
}

label {
    text-align: left;
}

#parent-bubble,
#nanny-bubble {
    width: 20px;
    display: inline;
}

#nanny-bubble {
    margin-left: 20px;
}

#submit-signup {
    grid-column: 1;
    grid-row: 5;
    text-align: center;
    margin-top: 5px;
}

#signup p,
#login p,
label {
    color: var(--accent-color-2);
    margin: 0;
}

#login p {
    grid-row: 4;
    text-align: center;
}

#user-info {
    grid-column: 4;
    grid-row: 1;
    margin: 0 auto;
    margin-top: 20%;
}
