@import '../style.css';

.review {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, max-content);
    grid-row-gap: 10px;
    margin: 0 auto;
}

#review-profile-image {
    grid-column: 1;
    grid-row: 1;
    height: 50px;
    width: 50px;
    background-color: grey;
    border-radius: 50%;
}

.author {
    grid-column: 1;
    grid-row: 2;
}

.review-rating {
    grid-column: 1;
    grid-row: 3;
}

.review-text {
    grid-column: 1 / span 2;
    grid-row: 4;
}

.date {
    grid-column: 1;
    grid-row: 5;
}
