@import '../style.css';
@import'./review.css';

div.container-profile1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, max-content);
    grid-row-gap: 30px;
    width: 95%;
    margin: 0 auto;
    padding-left: 5em;
    column-gap: 50px;

}

div#profile-photo {
    height: 200px;
    width: 200px;
    background-color: grey;
    border-radius: 50%;
    margin-bottom: 50px;
}

#photo-input {
    background-color: var(--accent-color-2);
    color: var(--accent-color);
    border-color: var(--accent-color);
}

div#profile-detail {
    grid-column: 2 / span 2;
    line-height: 1.8em;
}

#profile-detail h2 {
    width: 210px;
}

div.container-profile {
    grid-column: 4 / span 2;
    grid-row: 1 / span 2;
    margin-left: 20px;
}

div#profile-desc {
    grid-column: 1 / span 2;
}

div#profile-image p {
    margin-top: 90%;
}

#write-review-title {
    grid-column: 3;
    grid-row: 4;
    height: 1.2em;
    text-align: center;
    margin: 0;
}

#writing-review {
    grid-column: 1 / span 3;
    grid-row: 4;
    margin-top: 70px;
}

#write-review {
    width: 105%;
    height: 100px;
    font-size: 1.2em;
}

#submit-review {
    width: 200px;
    margin: 0 auto;
    display: block;
}

/* ratings */
.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
    grid-column: 4 / span 2;
    grid-row: 4;
    margin: 0 auto;
    margin-top: 15%;
}

.rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}

.rating label:last-child {
    position: static;
}

.rating label:nth-child(1) {
    z-index: 5;
}

.rating label:nth-child(2) {
    z-index: 4;
}

.rating label:nth-child(3) {
    z-index: 3;
}

.rating label:nth-child(4) {
    z-index: 2;
}

.rating label:nth-child(5) {
    z-index: 1;
}

.rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.rating label .icon {
    float: left;
    color: transparent;
}

.rating label:last-child .icon {
    color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
    color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #09f;
}

#reviews-title {
    grid-column: 3;
    grid-row: 5;
    margin-top: 30px;
}

#reviews {
    grid-column: 2 / span 3;
    grid-row: 6;
    margin: 0 auto;
    margin-top: 30px;
}

.review {
    margin-bottom: 50px;
    background-color: var(--accent-color);
    color: var(--accent-color-2);
    padding: 20px;
}
