@import 'css/layout.css';
@import 'css/typography.css';
@import 'css/color.css';
@import 'css/responsive.css';

* {
    box-sizing: border-box
}


:root {

    --bg-color: white;
    --text-color: black;
    /* yellow */
    --accent-color: #fcde1c;
    /* purple */
    --accent-color-2: #502977;


    --display-font: 'Chelsea Market', cursive;
    --header-font: 'Gaegu', cursive;
    --body-font: 'Poppins', sans-serif;

}


/*set up grid*/
div.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, max-content);
    /*    grid-column-gap: 20px;*/
    grid-row-gap: 10px;
    width: 100%;
    margin: 0 auto;
}

body {
    font-family: var(--body-font);
    font-weight: 300;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0 auto;
    width: 100%;
}

div.header {
    grid-column: 1 / span 4;
    grid-row: 1;
    position: relative;
    width: 100%;
    margin: 0 auto;
    background-color: var(--accent-color);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, max-content);
}

h1#profile-display-name {
    font-size: 2em;
}

h1.logo {

    grid-column: 2 / span 2;
    grid-row: 1;
    font-family: var(--display-font);
    font-size: 4em;
    font-weight: 300;
    text-align: center;
    height: 100px;
    margin: 0 auto;
    margin-top: 15px;
    letter-spacing: 10px;
}


.button {
    grid-column: 4;
    grid-row: 1;
    width: 100px;
    height: 3em;
    background-color: var(--accent-color-2);
    color: var(--accent-color);
    border-radius: 50px;
    border-color: var(--bg-color);
    margin-top: 10%;
}
.button1 {
   display: block;
   width: 100%;
}
#login {
    margin-left: 70%;
}

#signup {
    margin-left: 40%;
}

nav {

    grid-column: 1 / span 4;
    grid-row: 2;

    margin: 0 auto;
    width: 90%;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-decoration: underline;
    color: var(--accent-color-2);
}

nav ul {
    padding-top: 1em;
    display: inline-block;
}

nav li {
    float: left;
    margin-right: 3em;
    list-style-type: none;
    font-family: var(--display-font);
    letter-spacing: 1px;
    list-style-type: none;
    padding-right: 40px;
    text-align: center;
}

.subhead {
    padding: 1.5em;
    text-align: center;
    font-family: var(--header-font);
    margin: 0 auto;
    padding: 0;
    font-size: 2em;
}

h2.subhead {
    grid-column: 1 / span 4;
    grid-row: 2;
    font-size: 1.8em;
}

img.mother {
    grid-column: 1 / span 4;
    grid-row: 3;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /*    zoom: 20%;*/
}

h2.subtitle {
    grid-column: 1 / span 4;
    grid-row: 4;
    text-align: center;
    font-family: var(--header-font);
    font-size: 2em;
    margin: 10px auto;
    border-bottom: 1.5px solid black;
}

p.mission {
    grid-column: 1 / span 4;
    grid-row: 5;
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

p.mission-author {
    grid-column: 4;
    grid-row: 6;
}

div.stats-block {
    grid-column: 1 / span 4;
    grid-row: 7;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, max-content);
    grid-row-gap: 20px;
    background-color: var(--accent-color-2);
    color: var(--bg-color);
    padding: 10px 10px 10px 10px;
}

h3.subhead {
    grid-column: 1 / span 2;
    grid-row: 1;
    font-size: 1.8em;
    font-family: var(--header-font);
    font-weight: 200;
    margin-bottom: 25px;
    text-align: left;
    float: left;
    margin-left: 0;
    margin-bottom: 0;
}

div.block1 {
    grid-column: 1;
    grid-row: 2;
    width: 50%;
}

div.block2 {
    grid-column: 2;
    grid-row: 2;
}

div.block3 {
    grid-column: 1;
    grid-row: 3;
}

div.block4 {
    grid-column: 2;
    grid-row: 3;
}

h4.stat {
    color: var(--accent-color);
    font-size: 2em;
    margin: 0px;
}

div.stats-block p {
    margin-top: 0;
}
div#profile-detail {
    padding: 2em 0;
}
#user-info {
    display: none;
    grid-area: login;
}

.logged-in #user-info {
    display: block;
}

.logged-in #signup,
.logged-in #login {
    display: none;
}

@media (max-width: 1111px) {
    h1.logo {
        font-size: 3em;
    }
}

/*responsive*/

/*tablet*/
@media (max-width: 900px) {

    div.container {
        width: 100%;
    }

    h1.logo {
        grid-column: 1 / span 3;
        font-size: 2.3em;
        height: 50px;
    }

    button {
        margin-right: 25px;
    }

    nav ul {
        padding-top: 5px;
    }

    nav li {
        margin-right: 0;
    }

    h2.subhead {
        font-size: 1.4em;
    }

    h2.subtitle {
        font-size: 1.8em;
    }

    h3.subhead {
        font-size: 1.4em;
    }

    h4.stat {
        font-size: 1.5em;
    }

    div.stats-block p {
        padding-right: 20px;
    }

}

/*mobile*/
@media (max-width: 450px) {

    div.container {
        width: 100%;
    }

    h1.logo {
        grid-column: 1 / span 2;
        font-size: 1.2em;
        height: 30px;
        letter-spacing: 0;
        float: left;
        text-align: left;
    }

    #login,
    #signup {
        margin: 0;
        margin-top: 10%;
        height: 2em;
        padding: 0;
    }

    nav ul {
        padding-top: 5px;
        align-items: center;
        align-content: center;
        float: none;
        display: block;
    }

    nav li {
        margin-right: 0;
    }

    h2.subhead {
        font-size: 1.2em;
    }

    h2.subtitle {
        font-size: 1.2em;
        margin: 0 auto;
    }

    p.mission,
    p.mission-author {
        font-size: .7em;
        margin: 0;
        width: 100%;
    }

    p.mission-author {
        grid-column: 2 / span 2;
        text-align: center;
    }

    h3.subhead {
        font-size: 1.1em;
    }

    h4.stat {
        font-size: 1.2em;
    }

    div.stats-block p {
        font-size: .6em;
        padding-right: 5px;
    }
}
<<<<<<< HEAD
=======
>>>>>>> 7be7a51c6b8a92865c637bc994dc75dde1b89672
=======
>>>>>>> master
